# dependencies
node_modules/
.pnp
.pnp.js

# next.js
web/.next/
web/out/
web/next-env.d.ts

# testing
coverage/
web/playwright-report/
web/test-results/

# production
/build
pipeline/dist/

# env & secrets
.env
.env.local
.env.*.local
app-android/*.keystore
app-android/signing/

# misc
.DS_Store
*.swp
.idea/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
