.nav-menu {
    background: #eee;
    width: 410px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    border-right: 15px;
    overflow-x: hidden;

}

.nav-menu.active {
    left: 0;
    transition: 350ms;
}

.nav-menu-items {
    width: 100%;
}

.nav-toggle {
    background: #eee;
    width: 100%;
    height: 3.125rem;
    display: flex;
    justify-content: start;
    align-items: center;
}

.close-btn {
    padding-left: 2rem;
    font-size: 2rem;
}

