.nav-menu {
    background: #eee;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}

.nav-menu.active {
    left: 0;
    transition: 350ms;
}

.nav-menu-items {
    width: 100%;
}

.navbar-toggle {
    background: #eee;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 2rem;
}

.close-btn {
    padding-left: 2rem;
}
