.item
{   height: 150px;
    margin: 1px;
    padding: 8px;
    border-bottom:1px solid #888;}

.desc2 .markerbg {
    float:left;
    width:50px;
    height: 40px;
    margin:15px 20px 0px 15px;
    background:url(../../../image/Clean_house.svg) no-repeat;}

.item .info 
{  
    overflow: hidden;
    background: #fff;
}

.info .title2
{   
    padding: 5px 0 0 10px;
    height: 30px;
    background: #20c997;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.info.desc2 
{   
    margin: 15px 0 0 0px;
    position: relative;
    height: 75px;
}

.desc2 .location2
{   
    font-size: 18px;
    margin: 10px 0px 0 0px;
    padding-bottom: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.desc2 .runtime2 
{   
    margin: 30px 0 0 0px;
    font-size: 13px;
    color: #888;
    margin-top: 4px;
}


.desc2 .link 
{   
    margin: 15px 0 0 0px;
    font-size: 5px;
    color: red;
}